form{background-color: darkslategrey ;
width: 70%px ;
padding: 30px ;
margin: auto}

.first{
    display: flex;
    margin-bottom: 10px;
align-items: center;

}
label{
    width: 40px;
    margin-right: 30px;
}
input{
    width: 70%;
    margin-right: 10px;
}

feildset{
    border: red;
}
